<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>playhouse</title>

    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <style id='ui_style'></style>
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/draw.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/unit_styles.css">
    <link rel="stylesheet" href="../css/activities.css">
    <link rel="stylesheet" href="../css/audio.css">

    <!-- [ ملف الستايل الخاص بهاي الصفحة ] -->
    <link rel="stylesheet" href="../css/style-bookmark.css">

    <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../js/jquery.ui.touch-punch.min.js" text="text/javascript"></script>
    <script src="../js/data/templateData.js" type="text/javascript"></script>
    <script src="../js/data/activityList.js" type="text/javascript"></script>
    <!-- [ ملف بيانات الصفحة ] -->
    <script src="../js/data/data-bookmark.js" type="text/javascript"></script>
    <script src="../js/build/jsonRender.js"></script>
  </head>

  <body>
    <div class="mask_parent">
      <div class="mask_left"></div>
      <div class="mask_right"></div>
    </div>

    <div class="loading"><div class="loader"></div></div>

    <header class="fixed-top"></header>

    <div class="mainContent">
      <div class="container content_wrap activity_wrap">
        <div class="fixed-top screen_numbers_wrap" style="z-index: 2"></div>

        <!-- activity area — يتبنى من buildBookmarkBody() -->
        <div class="activity_container activity_area mx-auto" data-activity="bookmark"></div>
      </div>
    </div>

    <div class="sub_footer">
      <div class="container sub_footer_buttons_wrap"></div>
    </div>

    <footer class="fixed-bottom"></footer>

    <script>
      var _mediaList = { image: [], audio: [], video: [] };
    </script>

    <script src='../js/build/toolbar.js' type='text/javascript'></script>
    <script src="../js/build/template.js" type="text/javascript"></script>

    <!-- [ ملف بناء الـ HTML - ما محتاجين ملف لوجيك منفصل، الصفحة عرض بس ] -->
    <script src="../js/build/build-bookmark.js" type="text/javascript"></script>

    <script src="../js/build/audio.js"></script>
    <script src='../js/build/radio_build.js' type='text/javascript'></script>
    <script src='../js/generalfunctions.js' type='text/javascript'></script>
    <script src="../js/activities.js" type="text/javascript"></script>
    <script src='../js/loading.js' type='text/javascript'></script>
    <script src='../js/sketchpad.js' type='text/javascript'></script>
  </body>
</html>