

.image_container {
    width: 33%;
    height: max-content;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img_click_container {
    display: flex;
    /* width: 45%; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
    border-radius: 50px;
    padding: 35px 0px;
    /* box-shadow: 7px 7px 7px #ccc; */
}

.img-1 {
    /* background-color: #fedcc6; */
    transition: transform 0.5s ease-in-out;
}

.img_click {
    height: 140px;
    /* max-height:  140px; */
    width: fit-content;
    max-width: 420px;
    object-fit: contain;
}

.img_click:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.readHilightsPanel_container .title {
    height: 150px;
}

.title_in_snap {
    height: 150px;
    /* position: absolute;
    right: 15px; */
}

.modal-dialog {
    width: 850px;
}

.readHilightsPanel_1 .title .second_image {
    float: right;
}

.readHilightsPanel_1 .modal-content {
    background-color: #b9b9f9;
}

.readHilightsPanel2_1 .modal-content {
    background-color: #e5f3fc;
}

.readHilightsPanel2_1 .title {
    background-color: #0083be;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readHilightsPanel2_1 .title .title_in_snap {
    position: absolute;
}

.readHilightsPanel2_1 .title .top_image {
    right: 20px;
    top: 0;
}

.readHilightsPanel2_1 .title .second_image {
    left: 20px;
    top: 0;
}

.readHilightsPanel2_1 .title .title_text {
    font-weight: bolder;
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 50px;
}

.readHilightsPanel3_1 .modal-content {
    background-color: #e6d05b;
}

.readHilightsPanel3_1 .title .top_image {
    float: right;
    margin-right: 30px;
}

/* *** *** */
.readHilightsPanel4_1 .readHilightsPanel_container{
    height: 500px;
    /* background-color: #eaeb7c; */
}

.readHilightsPanel4_1 .readHilightsPanel_container .title {
    height: 115px;
}

.readHilightsPanel4_1 .readHilightsPanel_container .title img{
    height: 110px;
    margin: 5px auto;
    
}

.que_image {
    /* position: absolute; */
    width: 350px;
    margin: 0px auto 10px;
}

.fillin_gr input {
    flex: 1;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #656565;
    margin: 1px;
    padding-left: 30px;
    height: 35px;
    margin: 0 30px;
}

.fillin_gr input:focus {
    outline: none;
}

.img_fillin_gr {
    position: relative;
    width: 440px;
    background-color: transparent;
    margin: 2px auto;
}

.fillin_set * {
    display: inline-block;
}

.q_space,
.fillin_set {
    /* width: 100%; */
}

.tick,
.cross {
    width: 32px;
    height: 32px;
}

.tick img,
.cross img {
    width: 100%;
}

.icon_wrap_holder {
    /* position: absolute; */
    right: 10px;
}











/* *************************************** */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 850px;
        margin: 1.75rem auto;
    }
}