.all_cont{
    /* height: 100%; */
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.screen_elements{
    /* width: 80%; */
    height: 100%;
    position: relative;
}

.group_elm{
    width: 205px;
    margin-left: 50px;
    justify-content: space-between;
}

.q_image {
    display: flex;
    height: 100%;
    align-items: center;
}

.q_image img {
       /* height: 90%; */
       width: 896px;
       object-fit: contain;
       border: 1px solid #56c8f4;
       border-radius: 20px;
}



/* ==================================== */
.q_order{
    width: 50px;
}
/* ************************************** */
.ques{
    width: 400px;
    align-items: center;
    padding: 10px;
    text-align: center;
}

/* ==================================== */
.q_box{
    width:  45%;
    margin: 15px 8px;
    padding: 5px 10px; 
}

.fill_in .que {
    width: 85%;
    margin: 0px 0px;
}

.txtBox {
    font-family: Arcon;
    font-size: 25px;
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 33.333%;
}



.txt-audioIcon{
    padding-top: 0px;
}



.icon_wrap {
    position: absolute;
}

.tick,
.cross {
    width: 35px;
}

.tick img,
.cross img {
    width: 100%;
}

.image_wrap {
    display: none;
}

/* =========================== */
/*  
===============================*/

.que[status="label"] {
    border: 1px solid rgb(0, 185, 242);
    border-radius: 10px;
    height: 43px;
}

.que[status="label"] .blue_order {
    width: 43px;
    height: 43px;
    border: 1px solid rgb(0, 185, 242);
    background-color: #fff;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: -25px;
    margin-top: 1px;
    font-weight: bolder;
}

.que[status="fill"] .text_input_area {
    width: 43px;
    /* height: 43px; */
    text-align: center;
    border: none;
    border-radius: 50px;
    border: 2px solid #36a0c7;
}

.que[status="fill"] {
    position: absolute;
    width: fit-content;
}

.que[status="fill"] :focus{
    outline: none;
}

.que[data-qno="13"] {
    top: 2px;
    left: 801px;
}

.que[data-qno="14"] {
    top: -3px;
    left: 721px;
}

.que[data-qno="15"] {
    top: 5px;
    left: 639px;
}

.que[data-qno="16"] {
    top: 85px;
    left: 669px;
}

.que[data-qno="17"] {
    top: 138px;
    left: 216px;
}

.que[data-qno="18"] {
    top: 226px;
    left: 678px;
}

.que[data-qno="19"] {
    top: 233px;
    left: 428px;
}

.que[data-qno="20"] {
    top: 274px;
    left: 276px;
}

.que[data-qno="21"] {
    top: 245px;
    left: 60px;
}

/* .que[data-qno="22"] {
    top: 245px;
    left: 60px;
}

.que[data-qno="23"] {
    top: 370px;
    left: 584px;
} */

.que[data-qno="22"] {
    top: 370px;
    left: 584px;
}

.que[data-qno="23"] {
    top: 344px;
    left: 475px;
}

.que[data-qno="24"] {
    top: 344px;
    left: 176px;
}
/* ************************************************* */
/* ************************************************* */
@media (max-width: 991.98px) {
    .fill_in .que {
        width: 160px;
    }
}

@media (max-width: 575.98px) {
    .fill_in .que {
        width: 200px;
    }
}

@media (max-width: 475.98px) {
    /* .fill_in .que {
        width: 200px;
    } */
}